@{
    ViewData["Title"] = "Home Page";
}


<h1>New Ramen</h1>
<form action="/ramens" method="post">
  <label for="type">Ramen Type</label>
  <input id="type" name="type" type="text">
  <label for="description">Ramen Description</label>
  <input id="description" name="description" type="text">
  <label for="restaurant">Ramen Restaurant</label>
  <input id="restaurant" name="restaurant" type="text">
  <label for="location">Ramen Location</label>
  <input id="location" name="location" type="text">
  <label for="rating">Ramen Rating</label>
  <input id="rating" name="rating" type="number">
  <label for="reivew">Ramen Review</label>
  <input id="review" name="review" type="text">
  <button type="submit">Go!</button>
</form>



<h1>All Ramen:</h1>

<ol>
@foreach (Ramen ramen in Model)
{
    <ul>
        <li>ID: @ramen.RamenId</li>
        <li>Type: @ramen.Type</li>
        <li>Description: @ramen.Description</li>
        <li>Restaurant: @ramen.Restaurant</li>
        <li>Location: @ramen.Location</li>
        <li>Rating: @ramen.Rating</li>
        <li>Review: @ramen.Review</li>
    </ul>
    <a href="/Ramens/Details/@(ramen.RamenId)"><p>View Details</p></a>
    <br>
}
</ol>
