@{
    ViewData["Title"] = "Home Page";
}

<h1>All Ramen:</h1>

<ol>
@foreach (Ramen ramen in Model)
{
    <ul>
        <li>ID: @ramen.RamenId</li>
        <li>Type: @ramen.Type</li>
        <li>Description: @ramen.Description</li>
        <li>Restaurant: @ramen.Restaurant</li>
        <li>Location: @ramen.Location</li>
        <li>Rating: @ramen.Rating</li>
        <li>Review: @ramen.Review</li>
    </ul>
    <a href="/Ramens/Details/@(ramen.RamenId)"><p>View Details</p></a>
    <br>
}
</ol>
